:root {
  --text-color: light-dark(#000, #ddd);
  --text-color-negative: light-dark(#ddd, #000);

  --background-primary: light-dark(#fff, #222);

  --background-caught: light-dark(#bda, #251);
  --background-other-game: light-dark(#ed9, #651);
  --background-wrong: light-dark(#eaa, #611);

  font-size: 16px;
  font-family: system-ui;
  color: var(--text-color);
  background-color: var(--background-primary);

  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-primary);
  border-bottom: 4px solid;
  menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: safe center;
    overflow-x: auto;
    li {
      a {
        display: inline-block;
        padding: 0.5em 1em;
        color: inherit;
        white-space: nowrap;
        font-weight: bold;
        text-decoration: none;
        &.active,
        &:hover {
          color: var(--text-color-negative);
          background-color: var(--text-color);
        }
        small {
          font-size: 0.8em;
        }
      }
    }
  }
}

main {
  --box-columns: 6;
  margin-bottom: 1em;
  &[data-gb-gbc] {
    --box-columns: 5;
  }
  .box {
    display: flex;
    justify-content: safe center;
    overflow-x: auto;
    .box-label {
      position: sticky;
      left: 0;
      flex-basis: 4ch;
      flex-shrink: 0;
      background-color: var(--background-primary);
      border: 4px solid;
      border-top-width: 0;
      font-size: 3em;
      text-align: center;
      align-content: center;
      &:not(
          :has(
              ~ .box-content
                > div:not(:is([data-slot-status="caught"], [data-slot-status="filler"]))
            )
        ) {
        background-color: var(--background-caught);
      }
      &:has(~ .box-content > div[data-slot-status="other-game"]) {
        background-color: var(--background-other-game);
      }
      &:has(~ .box-content > div[data-slot-status="wrong"]) {
        background-color: var(--background-wrong);
      }
    }
    .box-content {
      display: grid;
      grid-template-columns: repeat(var(--box-columns), 20ch);
      gap: 1px;
      background-color: var(--text-color);
      border: solid;
      border-width: 0 4px 4px 0;
      > div {
        display: flex;
        flex-direction: column;
        gap: 0.15em;
        height: 3em;
        text-align: center;
        justify-content: center;
        background-color: var(--background-primary);
        line-height: 1;
        &:nth-child(6n + 1) {
          border-left-width: 0;
        }
        &[data-slot-status="caught"] {
          background-color: var(--background-caught);
        }
        &[data-slot-status="other-game"] {
          background-color: var(--background-other-game);
        }
        &[data-slot-status="wrong"] {
          background-color: var(--background-wrong);
        }
        &[data-small-text]::after {
          content: attr(data-small-text);
          font-size: 0.8em;
        }
      }
    }
  }
}
