<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Living Dex - {{ current_game }}</title>
    <link rel="stylesheet" href="{{ static("main.css") }}" />
    <script
      type="module"
      src="{{ static("main.js") }}#{{ timestamp }}"
    ></script>
  </head>
  <body>
    <header>
      <menu>
        {% for game_id, game in all_games.items() %}
          <li id="game-{{ game_id }}">
            <a
              href="{{ url("game", game_id=game_id) }}"
              {% if game_id == current_game_id %}class="active"{% endif %}
            >
              {{ game.name }}
              <small>({{ game.caught }} / {{ game.total }})</small>
            </a>
          </li>
        {% endfor %}
      </menu>
    </header>
    <main {% if gb_gbc %}data-gb-gbc{% endif %}>
      {% for box_data in expected_data %}
        {% set box_id = loop.index0 %}
        <section class="box">
          <div class="box-label">{{ loop.index }}</div>
          <div class="box-content">
            {% for pokemon in box_data %}
              {% set box_class = None %}
              {% set wrong_pokemon = None %}
              {% if game_data[box_id][loop.index0] %}
                {% if pokemon == game_data[box_id][loop.index0] %}
                  {% set box_class = "caught" %}
                {% else %}
                  {% set box_class = "wrong" %}
                  {% set wrong_pokemon = game_data[box_id][loop.index0] %}
                {% endif %}
              {% endif %}
              <div
                {% if box_class %}class="{{ box_class }}"{% endif %}
                {% if wrong_pokemon %}data-wrong-pokemon="{{ wrong_pokemon }}"{% endif %}
              >
                {{ pokemon }}
              </div>
              {% if loop.last %}
                {% for _ in range(loop.index, 20 if gb_gbc else 30) %}
                  <div class="filler"></div>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </section>
      {% endfor %}
    </main>
  </body>
</html>
